body{
  margin: 0%;
}

.about{
  grid-row: 2/4;
  grid-column: 2/3;
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkkhaki;
}

.p1{
  border: 3px solid orange;
  background-color:moccasin;
  border-radius: 5px;
  display: flex;
  justify-content: center;  
  text-align: right;
  padding: 10px;
}